@import url('http://fonts.cdnfonts.com/css/intro');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    color: black;
    

    
                                                
}


h1{
    font-family: 'Intro Demo', sans-serif;
}
.btn{
    background-color: #5222D0;
    font-family: 'Intro Demo', sans-serif; ;
}

.menu{
   color: #5222D0;
}

